/* 

Header,  Navigation and Footer

*/
header {
  background: #555;
  height: 52px;
  top: 0px; }

h1.logo {
  padding: 15px 20px;
  float: left;
  margin: 0; }
  h1.logo a {
    color: #ccc;
    text-decoration: none;
    font-weight: normal;
    text-transform: none;
    font-size: 20px;
    line-height: 22px;
    float: left;
    letter-spacing: normal; }

a.to_nav {
  float: right;
  color: #ccc;
  background: #555;
  text-decoration: none;
  padding: 12px 18px 12px;
  font-size: 1.75em; }
  a.to_nav:hover, a.to_nav:focus {
    color: #1c1c1c;
    background: #ccc; }
  @media screen and (min-width: 768px) {
    a.to_nav {
      display: none; } }

/*navigation*/
@media screen and (min-width: 768px) {
  .nav {
    position: absolute;
    top: 0px;
    right: 10px;
    background: none; } }
.nav ul {
  list-style: none;
  background: #555;
  padding: 5px 0; }
.nav li a {
  display: block;
  padding: 7px 20px;
  color: #ccc;
  text-decoration: none;
  font-weight: normal;
  text-transform: none;
  line-height: 2em;
  height: 2em;
  border-bottom: 1px solid #383838; }
  .nav li a:hover, .nav li a:focus {
    color: #1c1c1c;
    background: #ccc; }
  @media screen and (min-width: 768px) {
    .nav li a {
      float: left;
      border: none;
      padding: 10px 10px 10px;
      margin-top: -5px; } }
.nav li.on a {
  color: #efefef;
  text-decoration: underline; }
.nav li:last-child a {
  border-bottom: none; }
@media screen and (min-width: 768px) {
  .nav li {
    display: inline; } }
@media screen and (min-width: 768px) {
  .nav li.top {
    display: none; } }

/*footer*/
footer {
  padding-top: 30px;
  margin: 30px auto;
  font-family: inherit;
  font-style: normal;
  text-align: center;
  clear: both; }
  footer .social-icon {
    width: 32px;
    height: 32px;
    padding: 20px 0;
    margin: 0 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

body {
  font-family: 'Droid Sans', Verdana, serif;
  font-size: 1em;
  color: #1c1c1c; }
  @media screen and (min-width: 768px) {
    body {
      font-family: 'Droid Serif', Georgia, serif; } }
  body a {
    color: #555;
    text-decoration: none; }
  body h1, body h2, body h3, body h4, body .nav {
    font-family: 'Droid Sans', Verdana, serif; }
  body h2 {
    font-size: 1.75em;
    margin: 0 0 .4em; }
  body h3 {
    font-size: 1.5em;
    margin: 0.2em; }
  body h4 {
    font-size: 1em;
    margin: 0 0 0.5em; }
  body p {
    margin: 0.2em;
    padding: 0.2em;
    line-height: 1.2em; }
  body img {
    max-width: 100%; }

/*layout*/
.wrapper > h2 {
  border-bottom: 1px solid #d8d8d8;
  padding: 10px 20px;
  margin: 10px 0; }
@media screen and (min-width: 768px) {
  .wrapper {
    position: relative;
    width: 768px;
    margin: auto; } }
@media screen and (min-width: 1024px) {
  .wrapper {
    width: 1000px; } }

/*education table*/
.education table {
  padding: 5px;
  width: 100%; }
.education td {
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px; }
  .education td.grade {
    text-align: center; }
.education th {
  letter-spacing: 0.1em;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  font-weight: bold; }
.education tr.odd {
  background-color: #efefef; }

.employment ul {
  list-style: disc inside none;
  padding: 0.5em 0 0; }
.employment .title > h3 {
  border-bottom: 1px solid #ccc;
  margin: 1em 0 0.75em; }

.container {
  width: 100%;
  margin: 30px auto; }

.container.front {
  background: rgba(204, 204, 204, 0.5);
  height: 500px;
  margin-top: 0; }

.box {
  width: 100%;
  float: left;
  text-align: center; }
  .box.one {
    width: 100%;
    float: left;
    margin: 0%;
    text-align: center;
    color: #555; }
    .box.one h1, .box.one h2, .box.one p {
      padding: 0 30px;
      margin: 0 auto 30px; }
    .box.one h1 {
      font-size: 3em;
      padding-top: 50px; }
  @media screen and (min-width: 768px) {
    .box {
      width: 50%;
      margin: 0%; } }

.box.project {
  margin: 30px auto; }
  .box.project a {
    position: relative;
    display: inline-block;
    overflow: hidden; }
    .box.project a img {
      width: 100%; }
    .box.project a p {
      position: absolute;
      top: 0;
      left: 5%;
      right: 5%;
      bottom: 0;
      margin: 0;
      background: #555;
      color: #ccc;
      opacity: 0;
      transition: 1s;
      padding: 5%; }
      .box.project a p:before {
        pointer-events: none;
        position: absolute;
        content: '';
        height: 0;
        width: 0;
        bottom: 0;
        right: 0;
        background: white;
        /* IE9 */
        background: linear-gradient(315deg, white 45%, #aaaaaa 50%, #cccccc 20%, white 80%);
        box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: width, height;
        transition-property: width, height; }
      .box.project a p:hover:before, .box.project a p:focus:before, .box.project a p:active:before {
        width: 25px;
        height: 25px; }
    .box.project a:hover p {
      opacity: 1; }

.hide {
  display: none; }

/*# sourceMappingURL=style.css.map */
