// @import "_normalize.scss";
@import "bourbon/_bourbon.scss";
@import "bourbon/functions/_flex-grid.scss";
@import "bourbon/css3/_flex-box";

$black:#1c1c1c;
$dark:#383838;
$grey:#555;
$light:#ccc;
$white:#efefef;

$fg-column: 60px;             // Column Width
$fg-gutter: 25px;             // Gutter Width
$fg-max-columns: 12;          // Total Columns For Main Container

html {
}
body {
    font-family: 'Droid Sans', Verdana, serif;
    font-size: 1em;
    color: $black;
    @media screen and (min-width: 768px) {
        font-family: 'Droid Serif', Georgia, serif;
    }
    a {
    color: $grey;
    text-decoration: none;
    }
    h1, h2, h3, h4, .nav {
        font-family: 'Droid Sans', Verdana, serif;
    }
    h1 {
        
    }
    h2{
        font-size: 1.75em;
        // line-height: 1.4em;
        margin: 0 0 .4em;
    }
    h3 {
        font-size: 1.5em;
        margin: 0.2em;
    }
    h4 {
        font-size: 1em;
        margin: 0 0 0.5em;
    }
    p {
        // font-family: 'Crimson Text', Georgia, serif;
        margin: 0.2em;
        padding: 0.2em;
        line-height: 1.2em;
    }
    img {
        max-width: 100%;
    }
}

/*layout*/

.wrapper {
    @media screen and (min-width: 768px) {
        position: relative;
        width: 768px;
        margin: auto;
    }
    @media screen and (min-width: 1024px) {
        width: 1000px;
    }
}

article {
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 20px;
    margin: 10px 0;
    .content {
        li {
            margin: 0.5em;
        }
    }
}

/*header*/

header {
    background: $grey;
    /*padding: 15px 20px;*/
    height: 52px;
    top: 0px;
}
    // /*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack*/
    // header:before,
    // header:after {
    //     content: "";
    //     display: table;
    // }
    
    // header:after {
    //     clear:both;
    // }

    // /* For IE 6/7 (trigger hasLayout) */
    // header {
    //     zoom:1;
    // }

h1.logo {
    padding: 15px 20px;
    float: left;
    margin: 0;
    a {
    color: $light;
    text-decoration: none;
    font-weight: normal;
    text-transform: none;
    font-size: 20px;
    line-height: 22px;
    float: left;
    letter-spacing: normal;
    }
}

a.to_nav {
    float: right;
    color: $light;
    background: $grey;
    text-decoration: none;
    padding: 12px 18px 12px;
    font-size: 1.75em;
    // font-weight: bold;
    &:hover,
    &:focus {
        color: $black;
        background: $light;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}

/*navigation*/

.nav {
    @media screen and (min-width: 768px) {
        position: absolute;
        top: 0px;
        right: 10px;
        background: none;
    }
    ul {
        list-style: none;
        background: $grey;
        padding: 5px 0;
    }
    li {
        a {
            display: block;
            padding: 7px 20px;
            color: $light;
            text-decoration: none;
            font-weight: normal;
            text-transform: none;
            line-height: 2em;
            height: 2em;
            border-bottom: 1px solid $dark;
            &:hover,
            &:focus {
                color: $black;
                background: $light;
            }
            @media screen and (min-width: 768px) {
                float: left;
                border: none;
                padding: 10px 10px 10px;
                margin-top: -5px;
                }
        }
        &:last-child a {
            border-bottom: none;
            }
            @media screen and (min-width: 768px) {
                display: inline;
            }
        &.top {
            @media screen and (min-width: 768px) {
                display: none;
            }
        }
    }
}

/*footer*/

footer {
    margin: 30px auto;
    font-family: inherit;
    font-style: normal;
    text-align: center;
    clear: both;
    // font-size: 14px;
    // background: $color3;
    .social-icon {
      width: 32px;
      height: 32px;
      padding: 20px 0;
      margin: 0 5px;
      @include prefixer (border-radius, 50%, webkit moz);
      border-radius: 50%;
    }
}

/*education table*/

.education {
    table {
        padding: 5px;
        width: 100%;
    }
    td {
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
        &.grade {
            text-align: center;
        }
    }
    th {
        letter-spacing: 0.1em;
        border-bottom: 1px solid $light;
        padding: 5px 0;
        font-weight: bold;
    }
    tr.odd {
        background-color: $white;
    }
}

.employment {
    ul {
        list-style: disc inside none;
        padding: 0.5em 0 0;
        li{
            // margin: 0.5em 0 0 0;
        }
    }
    .title > h3 {
        border-bottom: 1px solid $light;
        margin: 1em 0 0.75em;
    }
}

.container {
    width: flex-grid(12);
    // margin-left: flex-gutter();
    // margin-right: flex-gutter();
}

.box_container {
    background: rgba(204, 204, 204, 0.5);
    height: 500px;
}

.box.one {
    width: flex-grid(10);
    float: left;
    margin: flex-gutter(4);
    text-align: center;
    color: $grey;
    h1 {
        font-size: 3em;
        margin: 0 auto 30px;
        padding-top: 50px;
    }
}

.box {
    width: flex-grid(10);
    float: left;
    margin: flex-gutter(4);
    text-align: center;
    @media screen and (min-width: 768px) {
        width: flex-grid(5);
        margin: flex-gutter(10);
        }
}

.hide { display: none; }